.base-layout {
    background-color: #0e2038;
    // background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: auto;

    .container {
        z-index: 80;
        height: 100%;

        display: flex;
        padding: 30px;
    }
}
