.base-layout {
    height: 100vh;
    // background-color: #0e2038;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

    .container {
        z-index: 80;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}
