.backdrop {
    position: fixed;
    z-index: 98;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

    .modal {
        position: absolute;
        z-index: 97;

        min-height: 360px;
        width: 280px;
        border-radius: 28px;
        padding: 24px;
        background-color: #ffffff;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            h2, p {
                margin: 4px;
                color: black;
            }

            .template-message {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                text-align: left;
                border: 2px solid;
                border-radius: 8px;
                margin: 8px;
                cursor: pointer;

                p {
                    font-size: 0.75rem;
                    margin: 10px;
                    color: black;
                }

                .checkmark {
                    margin: 0 8px;
                }
            }

            .template-message:hover {
                background-color: lightblue;
            }
        }

        .actions {
            display: flex;
            background-color: #0E2038;
            border-radius: 24px;
            margin-top: 8px;

            > button {
                border: none;
                padding: 12px 0;
                width: 100%;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: 2px;
                background: transparent;
                opacity: 0.8;
            }

            :nth-child(1) {
                border-right: 2px solid #40E0D0;
                border-top-left-radius: 24px;
                border-bottom-left-radius: 24px;
                color: #40E0D0;
            }
            :nth-child(2) {
                border-left: 2px solid #40E0D0;
                border-top-right-radius: 24px;
                border-bottom-right-radius: 24px;
                color: #FF9494;
            }
        }
    }

    .open {
        box-shadow: 0.5px 0 4px grey;
    }
}

.icon-border {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 58px;
    width: 58px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    animation: rotateBorder 0.5s linear 2;
    animation-fill-mode: forwards;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    @keyframes rotateBorder {
        0% { transform: scale(1); }
        50% { transform: scale(1.2); }
        100% { transform: scale(1); }
        // 75% { transform: translateY(-6px); }
        // 100% { transform: translateY(0px); }
    }

    .icon {
        position: absolute;
        background-color: #ffffff;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        animation: inverseRotate 0.5s linear 2;
    }

    @keyframes inverseRotate {
        // 0% { transform: rotate(0deg); }
        // 100% { transform: rotate(-360deg); }
        // 100% {
        //     transform: scale(1);
        // }
    }
}

