.action-bar {
    position: sticky;
    z-index: 3;
    top: 20px;
    left: 0;
    display: flex;
    justify-content: center;

    .candy-bar {
        width: 100%;
        max-width: 1320px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        transition: background-color 0.3s linear;
        border-radius: 50px;
        background-color: #ffffffCC;

        .bar-icons {
            margin: 8px 0;
            border-radius: 50%;
            border: 3px solid grey;
            padding: 8px;
            background-color: #0e2038;
            cursor: pointer;
        }
    }

    .scrolled {
        background-color: #ffffff;
    }
}

.scrolled {
    background-color: #ffffff;
}
