@keyframes logo-spin {
	0% {
		transform: rotateZ(-45deg);
	}
	50% {
		transform: rotateZ(45deg);
	}
	75% {
		transform: rotateZ(45deg);
	}
	100% {
		transform: rotateZ(-45deg);
	}
}

/* Animation shorthand: name duration timing-fn delay iter-count direction */
@media (prefers-reduced-motion: no-preference) {
	.logo {
		animation: logo-spin infinite 3s linear;
	}
}

a {
	text-decoration: none;

	button.download-card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		width: 60px;
		margin-left: auto;

		border-radius: 12px;
		border: 2px solid #40e0d0;
		color: #40e0d0;
		background-color: #000000;
		animation: jumpingAnimation 1s ease-in-out infinite;

		.text {
			margin: 8px 0;
			font-size: 0.75rem;
			font-weight: 700;
		}

		
		@keyframes jumpingAnimation {
			0% { transform: translateY(-8px); }
			100% { transform: translateY(1px); }
		}
	}

	.purple-border {
		position: absolute;
		height: 36px;
		width: 57px;
		border: 2px solid #B660CD;
		border-radius: 12px;
	}

	button.download-resume:hover {
		background-color: #0e2038;
	}
}
