.box {
    position: absolute;
    z-index: 40;

    padding: 2rem;
    background-color: #0e2038;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ffffff;
    border-radius: 25px;

    .logo {
        height: 100px;
        width: 100px;
    }

    @keyframes logo-spin {
        0% {
          transform: rotateZ(-45deg);
        }
        50% {
          transform: rotateZ(45deg);
        }
        75% {
          transform: rotateZ(45deg);
        }
        100% {
          transform: rotateZ(-45deg);
        }
      }
      
      /* Animation shorthand: name duration timing-fn delay iter-count direction */
      @media (prefers-reduced-motion: no-preference) {
        .logo {
          animation: logo-spin infinite 3s linear;
        }
    }
}
